<p>
  <mat-toolbar color="primary">
    <span>Gérer mes dépenses App</span>
  </mat-toolbar>
</p>

<div>

  <br>

    <div class="container">
        <div class="container">
          <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
              <div class="blocks">
                  <button button="submit" mat-raised-button color="primary" (click)="openDialog()">
                      <mat-icon>add</mat-icon> Ajouter une dépense
                  </button>
              </div>
        </div>
    </div>

    <br>


    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card">
          <mat-card-title>
            <p>Dernières dépenses</p>
          </mat-card-title>

          <mat-card-content>
              <div class="example-container mat-elevation-z8">
                  <mat-table matSort [dataSource]="dataSource"  class="mat-elevation-z8">

                    <ng-container matColumnDef="date_expenses">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Date Depense </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{ element.date_expenses  | date: 'd/M/y' }} </mat-cell>
                      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="title">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{ element.title }} </mat-cell>
                      <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="prix">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Prix TTC </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{ element.prix | currency:'EUR' }} </mat-cell>
                      <mat-footer-cell *matFooterCellDef> {{ getTotalCost() | currency:'EUR' }} </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="tva">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> TVA 20 % </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{ getTva(element)  | currency:'EUR' }} </mat-cell>
                      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="category">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Categorie </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{ element.category }} </mat-cell>
                      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef></mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <a (click)="editExpense(element)" type="button">
                          <mat-icon class="icon">edit</mat-icon>
                        </a>
                        <a (click)="deleteExpense(element)" type="button">
                          <mat-icon class="icon">delete</mat-icon>
                        </a>                  
                      </mat-cell>
                      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
                  </mat-table>
                </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
