<h1 mat-dialog-title>{{data.title}}</h1>

<div mat-dialog-content>
  <form class="example-form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Depense Title" type="text" required [(ngModel)]="expenses.title" name="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Depense Prix" type="number" required [(ngModel)]="expenses.prix" name="prix">
    </mat-form-field>

    <mat-form-field>
      <mat-select matInput placeholder="Depense Categorie" required [(ngModel)]="expenses.category" name="category">
        <mat-option *ngFor="let cat of categories" [value]="cat.value">
          {{ cat.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary">Save</button>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-raised-button class="close" (click)="onNoClick()" color="warn">Cancel</button>
</div>
